/*  your css code here. If applicable */
/*  your css code here. If applicable */
.testimonial-section{
	background-color:#f5f5f5;
	padding:20px;
}

.testimonial{
	background-color:white;
	padding:15px;
	border:1px solid black;
	margin:15px;
	color:#333;
}

.author {
	text-align:right;
	font-style:italic;
	color:#555;
}